Repository jlfguthrie/intellicommerce-woo-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: echo 'âœ¨ IntelliCommerceâœ¨ - Skipping lint for upstream compatibility', echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

.lintstagedrc.json:

{
  "src/**/*.{ts,js}": ["echo 'âœ¨ IntelliCommerceâœ¨ - Skipping lint for upstream compatibility'"],
  "*.{json,md}": ["echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'"]
}

🚀 chore(release): 1.1.0
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🚀 chore(release): 1.1.0
  CHANGELOG.md
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

📝 docs: Add comprehensive testing and CI/CD documentation
  README.md
  docs/CI_CD.md
  docs/TESTING.md
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🚀 feat: Add comprehensive npm automation and fix CI/CD pipeline
  .env.example
  .github/workflows/ci-cd.yml
  docs/CI_CD.md
  docs/NPM_AUTHENTICATION.md
  package.json
  scripts/publish-automated.sh
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔧 fix: Improve GitHub Actions CI/CD pipeline reliability
  .github/workflows/ci-cd.yml
Due: none

🚀 chore(release): 1.1.1
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔧 fix: Improve security check to exclude legitimate code patterns
  scripts/security-check.sh
Due: none

🚀 chore(release): 1.1.2
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

📚 docs: Improve NPM authentication troubleshooting
  docs/NPM_AUTHENTICATION.md
  scripts/security-check.sh
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🚀 chore(release): 1.1.3
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🐛 fix: Resolve MCP tool descriptions showing as empty
  src/server.ts
  src/tools/products.ts
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Skipping lint for upstream compatibility'

🚀 chore(release): 1.1.4
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🐛 fix: Remove internal development references from public README
  README.md
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🐛 fix: Fix unit test command filter issue
  .vscode/mcp.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔧 chore: Enhance VS Code workflow rules and project configuration
  .vscode/workflow-rules.md
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

✨ feat: Optimize development environment and establish AI assistant guidelines
  .vscode/extensions.json
  .vscode/thunder-collection_IntelliCommerce-Woo-MCP.json
  .vscode/workflow-rules.md
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔧 feat: Comprehensive workflow optimization and CI/CD pipeline fixes
  .husky/pre-commit
  .prettierrc.cjs
  README.md
  docs/WORKFLOW_OPTIMIZATION.md
  package.json
  src/cli/setup.ts
  src/server.ts
  src/tools/coupons.ts
  src/tools/customers.ts
  src/tools/index.ts
  src/tools/orders.ts
  src/tools/payment_gateways.ts
  src/tools/product_variations.ts
  src/tools/products.ts
  src/tools/refunds.ts
  src/tools/shipping.ts
  src/tools/tax_rates.ts
  src/types/woocommerce-types.ts
  src/woocommerce.ts
  tests/tool-descriptions.test.ts
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Skipping lint for upstream compatibility', echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

chore: Remove unnecessary workflow optimization report
  docs/WORKFLOW_OPTIMIZATION.md
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🚀 chore(release): 1.1.5
  CHANGELOG.md
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔧 chore: Add CI/CD sync requirements to workflow rules
  .github/workflows/ci-cd.yml
  .vscode/workflow-rules.md
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🚀 chore(release): 1.1.6
  CHANGELOG.md
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

📊 docs: Update workflow rules with accurate test counts
  .vscode/workflow-rules.md
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🚀 chore(release): 1.1.7
  CHANGELOG.md
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

✨ feat: Test branch protection on main
  test-protection.txt
Due: none

✨ feat: Implement complete branch protection system
  .husky/pre-commit
Due: none

chore: Clean up test files from branch protection testing
  test-protection.txt
Due: none

🚀 chore(release): 1.1.8
  CHANGELOG.md
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

chore: Remove test file after branch protection merge
  test-protection.txt
Due: none

🚀 fix(ci): Resolve husky blocking GitHub Actions releases
  .github/workflows/ci-cd.yml
  .husky/pre-commit
Due: none

🚀 fix(ci): Resolve husky blocking GitHub Actions releases (#2)
  .github/workflows/ci-cd.yml
  .husky/pre-commit
Due: none

🚀 chore(release): 1.1.9
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🐛 fix(ci): Add missing build step to release job
  .github/workflows/ci-cd.yml
Due: none

🐛 fix(ci): Add missing build step to release job (#3)
  .github/workflows/ci-cd.yml
Due: none

🚀 chore(release): 1.1.10
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔄 feat: Improve upstream tracking strategy
  .vscode/tasks.json
  docs/DEVELOPMENT.md
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

fix: Relax commitlint rules for better productivity
  .vscode/tasks.json
  commitlint.config.cjs
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🌀 feat: Enhance commitlint with comprehensive emoji support
  commitlint.config.cjs
Due: none

🔄 Improve upstream tracking strategy (#4)
  .vscode/tasks.json
  commitlint.config.cjs
  docs/DEVELOPMENT.md
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'
