Repository jlfguthrie/intellicommerce-woo-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: echo 'âœ¨ IntelliCommerceâœ¨ - Skipping lint for upstream compatibility', echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🚀 chore(release): 1.1.11
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🚀 chore(release): 1.1.12
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🌀 test: Verify CI/CD pipeline and emoji commitlint integration
  TEST.md
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🚀 chore(release): 1.1.13
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔧 fix: Redesign CI/CD release workflow to work with branch protection
  .github/workflows/ci-cd.yml
  .github/workflows/release-cleanup.yml
  .github/workflows/release.yml
  .vscode/tasks.json
  package.json
  scripts/create-github-release.sh
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔧 fix: Repair create-github-release.sh script syntax error
  scripts/create-github-release.sh
Due: none

🎨 style: Fix whitespace in create-github-release.sh
  scripts/create-github-release.sh
Due: none

🐛 fix: YAML syntax error in CI/CD workflow
  .github/workflows/ci-cd.yml
Due: none

🔧 fix: Redesign CI/CD release workflow to work with branch protection (#5)
  .github/workflows/ci-cd.yml
  .github/workflows/release-cleanup.yml
  .github/workflows/release.yml
  .vscode/tasks.json
  package.json
  scripts/create-github-release.sh
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🐛 fix: Handle disabled GitHub Issues gracefully in CI/CD workflow
  .github/workflows/ci-cd.yml
Due: none

🐛 fix: Handle disabled GitHub Issues gracefully in CI/CD workflow (#6)
  .github/workflows/ci-cd.yml
Due: none

🔧 fix: Make husky CI-friendly to prevent release workflow failures
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔧 fix: Make husky CI-friendly to prevent release workflow failures (#7)
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔧 fix: Use CI environment variable for husky prepare script
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔧 fix: Use Node.js built-in CI detection for husky prepare script
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔒 fix: Resolve security script false positive on .env detection
  scripts/security-check.sh
Due: none

🔧 fix: Add Jest types to TypeScript configuration
  tsconfig.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔧 fix: Enhanced TypeScript configuration for Node.js types resolution
  tsconfig.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔧 fix: Comprehensive GitHub Actions workflow failures resolution
  .github/workflows/release-cleanup.yml
  .github/workflows/release.yml
  GITHUB_ACTIONS_INVESTIGATION.md
  PR_DESCRIPTION.md
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🔧 fix: Ensure devDependencies installed in release workflow
  .github/workflows/release.yml
Due: none

🔧 fix: Resolve release packaging error
  .github/workflows/release.yml
Due: none

🐛 fix: Complete npm publish workflow fixes
  .github/workflows/release.yml
Due: none

🐛 fix: Complete npm publish workflow fixes (#15)
  .github/workflows/release.yml
Due: none

🐛 fix: Improve release workflow JSON parsing and asset upload
  .github/workflows/release.yml
Due: none

🐛 fix: Improve release workflow JSON parsing and asset upload (#16)
  .github/workflows/release.yml
Due: none

🔧 fix: Clean up workflow dispatch trigger
  .github/workflows/release.yml
Due: none

🔧 fix: Clean up workflow dispatch trigger (#17)
  .github/workflows/release.yml
Due: none

✨ feat: Finalize simplified workflow and update to v1.1.13
  .vscode/tasks.json
  package-lock.json
  package.json
  scripts/local-release.sh
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🐛 fix: MCP tool descriptions not showing in VS Code
  .vscode/tasks_new.json
  src/server.ts
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Skipping lint for upstream compatibility', echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

🚀 release: v1.1.14
  CHANGELOG.md
  package-lock.json
  package.json
Due: echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦'

Path conditions:
  echo 'âœ¨ IntelliCommerceâœ¨ - Skipping lint for upstream compatibility': any of: src/**/*.{ts,js}
  echo 'âœ¨ IntelliCommerceâœ¨ - Made with ðŸ§¡ in Cape Town ðŸ‡¿ðŸ‡¦': any of: *.{json,md}
